body {
	font-family: Montserrat, sans-serif;
	font-size: 10px;
	color: #fff;
	padding: 0px;
	margin: 0px;
	background: #011e3c;
}
header {
	padding: 3em 7em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 1em #98a2b3;
}
header img {
	max-height: 5em;
}
header .social-links {
	text-align: right;
}
.social-links a {
	color: #fff;
	margin: 0px 0.5em;
	text-decoration: none;
}
header a, #modalContainer a {
	transition: opacity 300ms ease-out;
}
header a:hover, #modalContainer a:hover {
	opacity: 0.8;
}
section {
	padding: 3em 20em;
}
section .grid-holder {
	margin-bottom: 1em;
	display: grid;
	grid-template-columns: 20em auto 20em;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
#modalContainer p {
	text-align: left;
}
#modalContainer p span {
	margin: 0px 0.5em;
    padding: 2px 8px;
    border-radius: 1em;
    color: #011830;
    font-weight: 600;
}